{% extends "base.html" %}

{% block content %}

<div class="card">
  <form method="post">
      <h2 class="sub-title">New Category</h2>
      <div class="">
        <input type="text" name="name" value="{{name}}" placeholder="category name">
      </div>
      <div class="">
        <div class="error">{{error}}</div>
      </div>
      <div class="">
        <input type="submit" value="Add">
      </div>
  </form>
</div>

<div class="">
  <a href="{{ url_for('allCategories') }}"><button type="button" class="btn btn-info">Cancel</button></a>
</div>

{% endblock %}